.comment {
    display: block;
    transition: all 1s;
  }
  
  .commentClicked {
    min-height: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px
  }
  .container textarea {
    width: 100%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #016BA8;
    transition: all 0.5s;
    margin-top: 15px;
  }
  button.primaryContained {
    background: #016ba8;
    color: #fff;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 10px;
    border-radius: 5px;
  }
  button.primaryContained:hover {
    background: #9201A8;
  }
  .title {
    font-size: 14px;
    font-weight: bold;
  }
  
  .komen {
    font-size: 14px;
  }
  
  .geser {
    margin-left: 55px;
    margin-top: 5px;
  }
  
  .media {
    margin-top: 15px
  }
  
  .media:first-child {
    margin-top: 0
  }
  
  .media-right, .media > .pull-right {
    padding-left: 10px
  }
  
  .media-left, .media > .pull-left {
    padding-right: 10px
  }
  
  .media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top
  }
  
  .media-middle {
    vertical-align: middle
  }
  
  .media-bottom {
    vertical-align: bottom
  }
  
  .media-heading {
    margin-top: 0;
    margin-bottom: 5px
  }
  
  .media-list {
    padding-left: 0;
    list-style: none
  }
  .ratings {
    color: orange;
    background: rgb(161, 161, 161);
    line-height: 4rem;
    font-size: 250%;
  }
  