<app-header></app-header>
<div class="inner-section">
  <div class="container">
    <div class="row mt-2">
      <div class="offset-lg-2 col-lg-8">
        <div class="card">
          <div class="card-body nav-campaign p-0">

            <div class="tab-content py-3" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="card card-campaign">
                  <div class="input-group inner-main-search">
                    <input type="text" class="form-control" placeholder="Search Your Clients"
                           name="search" [(ngModel)]="searchText" autocomplete="off"
                           aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <span class="input-group-text bg-secondary text-white cursor-pointer px-4" id="basic-addon2"><i class="fas fa-search fa-lg"></i></span>
                  </div>
                  <!-- <a [routerLink]="" (click)="InviteCoworkers()" class="mt-2">Advanced Search</a> -->
                </div>
                <ng-container *ngIf="tabStatus=='Sended'">
                  <div class="card card-campaign" *ngFor="let p of clientInvitationsPndRsp | filter:searchText">
                    <div class="card-header d-flex bg-white border-0 px-0 pb-0 justify-content-between">
                      <div>
                        <h5 class="text-primary mb-0 fw-bold" (click)="viewProfile(p)">{{p.clientName}}</h5>
                        <small>
                          {{p.createdDate | date : 'EEEE, MMMM d, h:mm' }} {{ p.createdDate | date : 'a' | lowercase }}
                        </small>
                      </div>
                      <div class="ms-auto d-flex mb-3">
                        <button (click)="UpdateInvitationStatus(p.invitationID,'Accept')" class="btn btn-outline-primary me-2">
                          Accept
                        </button>
                        <button (click)="UpdateInvitationStatus(p.invitationID,'Reject')" class="btn btn-primary">Reject</button>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="tabStatus=='Accept'">
                  <div class="card card-campaign" *ngFor="let p of clientInvitationsAcptRsp | filter:searchText">
                    <div class="card-header d-flex bg-white border-0 px-0 pb-0 justify-content-between">
                      <div>
                        <h5 class="text-primary mb-0 fw-bold" (click)="viewProfile(p)">{{p.clientName}}</h5>
                        <small>
                          {{p.createdDate | date : 'EEEE, MMMM d, h:mm' }} {{ p.createdDate | date : 'a' | lowercase }}
                        </small>
                      </div>
                      <div class="ms-auto d-flex mb-3">
                        <button class="btn btn-primary" (click)="openMessages()" style="margin-left:auto">
                          Message
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="tabStatus=='Reject'">
                  <div class="card card-campaign" *ngFor="let p of clientInvitationsRjtRsp | filter:searchText">
                    <div class="card-header d-flex bg-white border-0 px-0 pb-0 justify-content-between">
                      <div>
                        <h5 class="text-primary mb-0 fw-bold" (click)="viewProfile(p)">{{p.clientName}}</h5>
                        <small>
                          {{p.createdDate | date : 'EEEE, MMMM d, h:mm' }} {{ p.createdDate | date : 'a' | lowercase }}
                        </small>
                      </div>
                      <div class="ms-auto d-flex mb-3">
                        <span style="color:red">
                          Reject
                        </span>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-2">
        <ul class="list-unstyled main-left-list">
          <li>
            <a [routerLink]="" (click)="ChangeStatus('Sended')"
               [ngClass]="tabStatus=='Sended'?'active':''">Pending</a>
          </li>
          <li>
            <a [routerLink]="" (click)="ChangeStatus('Accept')"
               [ngClass]="tabStatus=='Accept'?'active':''">Accepted</a>
          </li>
          <li>
            <a [routerLink]="" (click)="ChangeStatus('Reject')"
               [ngClass]="tabStatus=='Reject'?'active':''">Rejected</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
