<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top befor-login bg-white py-3">
      <div class="container">
        <a class="navbar-brand pt-0" routerLink=""><img src="/assets/images/callbit-logo.svg"></a>
       
        
        <div class="navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
          </ul>
          <form class="d-flex">
            <button class="btn btn-success" routerLink="/post" type="submit">Post A Campaign</button>
            <ul class="navbar-nav mb-2 ms-3 flex-row mb-lg-0">
              <li class="nav-item me-4 me-sm-2">
                <a class="nav-link" routerLink="/signup"><i class="fas fa-user-plus me-1"></i>Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt me-1"></i>Login</a>
              </li>
            </ul>
          </form>
        </div>
      </div>
  </nav>
</header>
<div class="inner-banner text-center">
    <h1 class="text-white">About Us</h1>
   
      <ul class="d-flex flex-row justify-content-center list-unstyled">
        <li class="nav-item">
          <a class="nav-link text-white" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="About-Us.html">About</a>
        </li>
      </ul>
</div>
<section>
    <div class="container">
      <div class="row">
         <div class="col-md-6">
             <img class="img-fluid" src="../../assets/images/about-banner.png">
           
           
         </div>
         <div class="col-md-6">
            <h5 class="text-secondary">About Us</h5>
            <h2 class="mb-5 fw-bold mb-5 text-primary">We are dynamic team of
             creative an   solve customer
             problems.</h2>
             <p>
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
voluptate velit esse cillum dolore eu fugiat nulla pariatur teur occaecat
cupidatat non proident, sunt in culpa.
             </p>
             <p>
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
voluptate velit esse cillum dolore eu fugiat nulla pariatur teur occaecat
cupidatat non proident, sunt in culpa  ad minim veniam, quis nostrud exercitation ullamco laboris nisi
aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
voluptate velit esse cillum dolore eu fugiat nulla pariatur teur occaecat
cupidatat non proident, sunt in.
             </p>
             <button class="btn btn-primary mt-5">Contact Us</button>
         </div>
      </div>
     
    </div>
 </section>
 <section class="Testimonial-section  position-relative bg-light">
    <div class="container">
     <div class="sub-title mb-5">
       <h3>Valued customers with valuable feedback</h3>
       <p class="text-center text-muted">Feedbacks from our happy users. Become one of them.</p>
   </div>
     <div id="TestimonialsSlider" class="carousel slide carousel-fade mt-5" data-bs-ride="carousel">
       
       <div class="carousel-inner">
         <div class="carousel-item active">
           
           <div class="row px-5">
             <div class="col-md-6">
               <div class="d-flex">
                <img class="clinet-avtar" src="../../assets/images/testimonial.png">
                <div class="">
                 <ul class="list-unstyled rating mb-2">
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
               </ul>
               <p class="">
                 <i>"I've been using callbit for more than a year and I must say I've never had such reliable service provider to work with. They've helped me out a lot"</i>
               </p>
               <p class="fw-bold">- Erich Marks</p>
                </div>
               </div>
             </div>
             <div class="col-md-6">
               <div class="d-flex">
                <img class="clinet-avtar" src="/assets/images/testimonial-2.png">
                <div class="">
                 <ul class="list-unstyled rating mb-2">
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
               </ul>
               <p class="">
                 <i>"I've been using callbit for more than a year and I must say I've never had such reliable service provider to work with. They've helped me out a lot"</i>
               </p>
               <p class="fw-bold">- Emily Hartman</p>
                </div>
               </div>
             </div>
           </div>
   
         </div>
         <div class="carousel-item">
           <div class="row px-5">
             <div class="col-md-6">
               <div class="d-flex">
                <img class="clinet-avtar" src="/assets/images/user-image.png">
                <div class="">
                 <ul class="list-unstyled rating mb-2">
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
               </ul>
               <p class="">
                 <i>"I've been using callbit for more than a year and I must say I've never had such reliable service provider to work with. They've helped me out a lot"</i>
               </p>
               <p class="fw-bold">- Ehtisham</p>
                </div>
               </div>
             </div>
             <div class="col-md-6">
               <div class="d-flex">
                <img class="clinet-avtar" src="/assets/images/testimonial-3.png">
                <div class="">
                 <ul class="list-unstyled rating mb-2">
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
               </ul>
               <p class="">
                 <i>"I've been using callbit for more than a year and I must say I've never had such reliable service provider to work with. They've helped me out a lot"</i>
               </p>
               <p class="fw-bold">- Naveed</p>
                </div>
               </div>
             </div>
           </div>
         </div>
         <div class="carousel-item">
           <div class="row px-5">
             <div class="col-md-6">
               <div class="d-flex">
                <img class="clinet-avtar" src="/assets/images/user-image.png">
                <div class="">
                 <ul class="list-unstyled rating mb-2">
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
               </ul>
               <p class="">
                 <i>"I've been using callbit for more than a year and I must say I've never had such reliable service provider to work with. They've helped me out a lot"</i>
               </p>
               <p class="fw-bold">- Michal</p>
                </div>
               </div>
             </div>
             <div class="col-md-6">
               <div class="d-flex">
                <img class="clinet-avtar" src="/assets/images/testimonial-4.png">
                <div class="">
                 <ul class="list-unstyled rating mb-2">
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
               </ul>
               <p class="">
                 <i>"I've been using callbit for more than a year and I must say I've never had such reliable service provider to work with. They've helped me out a lot"</i>
               </p>
               <p class="fw-bold">- John Doe</p>
                </div>
               </div>
             </div>
           </div>
         </div>
       </div>
       <button class="carousel-control-prev" type="button" data-bs-target="#TestimonialsSlider" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
       </button>
       <button class="carousel-control-next" type="button" data-bs-target="#TestimonialsSlider" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
       </button>
     </div>
    </div>
   
  </section>  
  
  
  
 
  
   
          
  
     <section class="">
      <div class="container">
        <h5 class="text-secondary">Know About</h5>
        <h3 class="fw-bold text-default">FAQ’s</h3>
        <div class="accordion accordion-flush mt-4" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                How do I sign up?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Whether you're searching for a call center or a campaign, signing up on Callbit is a simple process. Join by clicking the signup button on the top right corner and enter your email. Now add your user name and password to create an account. Select your user type and get set go!</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                I want to buy calls, how will Callbit work for me?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Join forces with experienced call centers on Callbit. Register yourself for "Post a campaign", and place your ad. Hire the best-suited proposal against your campaign post.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                I am a call center, how will Callbit work for me?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Callbit helps you connect with legit buyers eliminating any payment risks, pauses, and frauds. Register yourself as a Call Center. Bid for the campaign that best matches your interests and get hired. It's that simple!</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading4">
              <button class="accordion-button collapsed bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapseThree">
                How secure is my transaction on Callbit?
              </button>
            </h2>
            <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Callbit is a unique marketplace specifically designed only for Call Centers & Companies. Our platform connects professionals on a reliable network to protect your leads' rewards</div>
            </div>
          </div>
        </div>
      </div>
    </section> 




