<div class="login-card d-sm-flex min-vh-100">
  <div class="right_panel order-sm-2 py-4">
    <h2 class="text-primary fw-bold mb-5">Reset Password</h2>
    <h5 class="text-primary mb-0">New Password</h5>
    <div *ngIf="resetLink.length < 10; else resetForm">
      <p>link is invalid</p>
      <a
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        class="btn btn-primary btn-lg my-4"
        >Home</a
      >
    </div>
    <ng-template #resetForm>
      <div *ngIf="isPasswordUpdated; else form">
        <p>password has been updated</p>
        <a
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          class="btn btn-primary btn-lg my-4"
          >Home</a
        >
      </div>
      <ng-template #form>
        <p>Please write your new password.</p>
          <div class="input-group mb-4 input-group-lg">
            <span class="input-group-text" id="basic-addon1"
              ><img height="26" src="assets/images/icons/key-icon.svg"
            /></span>
            <input
            [type]="show ? 'text' : 'password'"
              class="form-control rounded-end"
              placeholder="Enter  Password"
              [(ngModel)]="password"
            />
            <i class="fas fa-eye Show_Password text-primary" (click)="myFunction()"></i>
          </div>
          <div class="input-group mb-4 input-group-lg">
            <span class="input-group-text" id="basic-addon1"
              ><img height="26" src="assets/images/icons/key-icon.svg"
            /></span>
            <input
            [type]="show1 ? 'text' : 'password'"
              class="form-control rounded-end"
              placeholder="Confirm  Password"
              [(ngModel)]="confirmPassword"
            />
            <i class="fas fa-eye Show_Password text-primary" (click)="myFunction1()"></i>
          </div>

          <input (click)="onSubmit()"
            type="submit"
            value="Change Password"
            class="btn btn-primary btn-lg my-4"
          />
      </ng-template>
    </ng-template>
  </div>
  <div class="left_panel bg-light">
    <img class="img-fluid" src="assets/images/signup-img2.png" />
  </div>
</div>
