<!-- <div *ngIf="isEmailSent; else forgotForm">
  <p>Please check your email</p>
</div>
<ng-template #forgotForm>
  <form [formGroup]="form" (submit)="onSubmit()">
    <input type="email" placeholder="Email" formControlName="email" />
    <input type="submit" value="Send link" />
  </form>
</ng-template> -->

<div class="login-card d-sm-flex min-vh-100">
  <div class="right_panel order-sm-2 py-4">
    <h2 class="text-primary fw-bold mb-5">Forgot Password?</h2>
    <div *ngIf="isEmailSent; else forgotForm">
      <p>A reset password link has been sent to your email address</p>
      <a
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        class="btn btn-primary btn-lg my-4"
        >Home</a
      >
    </div>
    <ng-template #forgotForm>
      <p>
        Please write your email to receive a confirmation
        <br class="d-sm-block d-none" />
        code to set a new password.
      </p>
      <form [formGroup]="form" (submit)="onSubmit()">
        <div class="input-group mb-4 input-group-lg">
          <span class="input-group-text" id="basic-addon1"
            ><img height="22" src="assets/images/icons/user-icon.svg"
          /></span>
          <input
            type="email"
            class="form-control"
            placeholder="Enter your Email"
            formControlName="email"
          />
        </div>
        <input
          type="submit"
          class="btn btn-primary btn-lg my-4"
          value="Continue"
        />
      </form>
    </ng-template>
  </div>
  <div class="left_panel flex-column bg-light">
    <div class="logo">
      <a  routerLink=""><img height="35" src="/assets/images/callbit-logo.svg"></a>
    </div>
    <div class="login-banner">
      <img class="img-fluid" src="./assets/images/login-img.png" />
    </div>
  </div>
</div>
