<div class="card">
    <div class="bg-white card-header d-flex py-3 align-items-center">
        <h5 class="mb-0  fw-bold">Let’s check if you need to fill out Form W-9</h5>
    </div>
    <div class="card-body">
        <p class="lead fw-bold">
            Form W-9 is used in the U.S. for tax purposes. You are required to fill it out only if you’re defined as a
            U.S. person by the U.S. tax authorities. Answering ‘No’ completes the check.
        </p>
        <p class="lead fw-bold text-primary">What is a U.S. person (as defined by the U.S. tax authorities)?</p>
        <p class="lead fw-bold">
            Are you a U.S. person?
        </p>

        <div class="w9-box active mb-3">
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    No
                </label>
            </div>
            <p class="text-muted mb-0">
                I confirm that all the services I offer on Callbit are performed while <br> outside of the U.S.
            </p>
        </div>
        <div class="w9-box">
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" id="Yes">
                <label class="form-check-label" for="Yes">
                    Yes
                </label>
            </div>
            <p class="text-muted mb-0">
                U.S. tax authorities might request Form W-9 and information regarding your <br> activity on Callbit.
            </p>
        </div>

        <p class="mt-3"><i><a  >Learn More About Tax Regulations</a> And Read Our <a  >Privacy Policy</a>
                To Learn How We Use Your Data.</i></p>
        <div class="mt-5 px-3 buttons-end">
            <a   class="btn btn-outline-primary" type="button">Exit</a>
            <a   class="btn btn-primary" type="button">Save</a>
        </div>
    </div>
</div>