<app-header></app-header>

<div class="login-card d-sm-flex min-vh-100">
    <div class="right_panel order-sm-2 py-4">
        <h2 class="text-primary fw-bold mb-5">Select Compaign</h2>
        <h4 class="text-default">Tell us what you need done</h4>
        <div class="select-user">


            <ul class="list-unstyled seleted-option text-start mb-5">
                <li><img class="cursor-pointer" src="./assest/images/icons/cross.svg">Cardio</li>
                <li><img class="cursor-pointer" src="./assest/images/icons/cross.svg">Medicare</li>
                <li><img class="cursor-pointer" src="./assest/images/icons/cross.svg">Final Expense</li>
                <li><img class="cursor-pointer" src="./assest/images/icons/cross.svg">Solar</li>
            </ul>

            <div class="input-group mb-3 input-group-lg">
                <input type="text" class="form-control" placeholder="Select Your Campaigns"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text bg-secondary text-white cursor-pointer px-4" id="basic-addon2"><i
                        class="fas fa-search fa-lg"></i></span>
            </div>

            <ul class="list-unstyled seleted-option text-start">
                <li><img src="./assest/images/icons/tick.svg">Cardio</li>
                <li><img src="./assest/images/icons/tick.svg">Medicare</li>
                <li><img src="./assest/images/icons/tick.svg">Final Expense</li>
                <li class="add"><img class="cursor-pointer" src="./assest/images/icons/plus.svg">Solar</li>
                <li class="add"><img class="cursor-pointer" src="./assest/images/icons/plus.svg">Final Expense</li>
                <li class="add"><img class="cursor-pointer" src="./assest/images/icons/plus.svg">Solar</li>
                <li class="add"><img class="cursor-pointer" src="./assest/images/icons/plus.svg">Final Expense</li>
                <li class="add"><img class="cursor-pointer" src="./assest/images/icons/plus.svg">Solar</li>
                <li class="add-new"><img class="cursor-pointer" src="./assest/images/icons/plus.svg">Solar</li>
            </ul>

        </div>
        <a class="btn btn-primary btn-lg mb-4">Next</a>


    </div>
    <div class="left_panel bg-light">
        <img class="img-fluid" src="./assest/images/select-user.png">
    </div>
</div>