<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top befor-login bg-white py-3">
      <div class="container">
        <a class="navbar-brand pt-0" routerLink=""><img src="/assets/images/callbit-logo.svg"></a>
       
        
        <div class="navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
          </ul>
          <form class="d-flex">
            <button class="btn btn-success" routerLink="/post" type="submit">Post A Campaign</button>
            <ul class="navbar-nav mb-2 ms-3 flex-row mb-lg-0">
              <li class="nav-item me-4 me-sm-2">
                <a class="nav-link" routerLink="/signup"><i class="fas fa-user-plus me-1"></i>Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt me-1"></i>Login</a>
              </li>
            </ul>
          </form>
        </div>
      </div>
  </nav>
</header>
<div class="inner-banner text-center">
  <h1 class="text-white">How It Works</h1>
 
    <ul class="d-flex flex-row justify-content-center list-unstyled">
      <li class="nav-item">
        <a class="nav-link text-white" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="About-Us.html">How It Works</a>
      </li>
    </ul>
</div>
<div class="inner-banner text-center">
    <h1 class="text-white">How It Works</h1>
   
      <ul class="d-flex flex-row justify-content-center list-unstyled">
        <li class="nav-item">
          <a class="nav-link text-white" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="About-Us.html">How It Works</a>
        </li>
      </ul>
</div>

<section>
  <div class="d-flex justify-content-center text-center">
     <div class="col-md-6">
      <h2 class="mb-4 fw-bold mb-5 text-primary">Small Steps that Helps You to 
        Achieve in Big Stages</h2>
        <p>In Call center Industry Finding a Campaign and trustable client is never be easy. You have take risk if you are working with client or any call center.</p>
     </div>
  </div>
   <div class="container">
     <div class="devider my-3">
      <span class="work-count">1</span>
     </div>
     <div class="row align-items-center">
        <div class="col-md-6">
            <img class="img-fluid" src="../../assets/images/how-work-1.png">
        </div>
        <div class="col-md-6">
        
           <h2 class="mb-4 fw-bold mb-5 text-primary">Choose the Experts</h2>
            <p>
              In Call Center industry where a lot of potential from call centers and as well as from clients side. But there is trust issue from both side because there is no platform where both trust and do business. But now CallBit  provide platform with 100% payment protection.
           </p>
           
        </div>
     </div>
   </div>
</section>
<section class="pt-0">
   <div class="container">
    <div class="devider my-3 mb-5">
      <span class="work-count">2</span>
     </div>
     <div class="row align-items-center">
       
        <div class="col-md-6">
           <h2 class="mb-4 fw-bold mb-5 text-primary">Find the best Interactive Person</h2>
            <p>
              In Call Center industry where a lot of potential from call centers and as well as from clients side. But there is trust issue from both side because there is no platform where both trust and do business. But now CallBit  provide platform with 100% payment protection.

           </p>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="../../assets/images/how-work-2.png">
      </div>
     </div>
   </div>
</section>
<section class="pt-0">
  <div class="container">
   <div class="devider my-3 mb-5">
     <span class="work-count">3</span>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6">
        <img class="img-fluid" src="../../assets/images/how-work-3.png">
    </div>
       <div class="col-md-6">
          <h2 class="mb-4 fw-bold mb-5 text-primary">Plan your Event Participants</h2>
           <p>
            In Call Center industry where a lot of potential from call centers and as well as from clients side. But there is trust issue from both side because there is no platform where both trust and do business. But now CallBit  provide platform with 100% payment protection.
          </p>
       </div>
     
    </div>
  </div>
</section>
<section class="pt-0">
<div class="container">
 <div class="devider my-3 mb-5">
   <span class="work-count">4</span>
  </div>
  <div class="row align-items-center">
    
     <div class="col-md-6">
        <h2 class="mb-4 fw-bold mb-5 text-primary">Choose the Perfect Integration Tools</h2>
         <p>
          In Call Center industry where a lot of potential from call centers and as well as from clients side. But there is trust issue from both side because there is no platform where both trust and do business. But now CallBit  provide platform with 100% payment protection.
        </p>
     </div>
     <div class="col-md-6">
      <img class="img-fluid" src="../../assets/images//how-work-4.png">
  </div>
   
  </div>
</div>
</section>






