<div class="card">
    <div class="bg-white card-header d-flex py-3 align-items-center">
        <h5 class="mb-0  fw-bold">Need to update your public profile? <a  >Go to My Profile</a></h5>
       
    </div>
    <div class="card-body px-0">
        <div class="px-3 pb-3">
            <div class="row align-items-center mb-4">
                <div class="col-md-5">
                    <label class="col-form-label">Email</label>
                </div>
                <div class="col-md-7">
                    <input type="email" placeholder="n************7@email.com" class="form-control">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-5">
                    <label class="col-form-label">Online Status <i
                            class="fas fa-circle text-secondary fa-sm"></i></label>
                </div>
                <div class="col-md-7">
                    <select class="form-control">
                        <option value="">You are currently Offline</option>
                        <option value="">Show Online</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <p class="text-muted small">
                        When Online your campaign in
                        visible under the online search filter.
                    </p>
                </div>
            </div>

            <div class="text-end">
                <a  class="btn btn-primary" type="button">Continue</a>
            </div>
        </div>

        <div class="border-y p-3">

            <p class="text-muted mb-1">Account Deactivation</p>
            <p class="text-muted">What Happen when you deactivate your account?</p>
            <ol class="">
                <li>Your profile and campaigns won't be shown on</li>
                <li>Active campaign will be cancelled </li>
                <li>You won't be able to re-active your campaigns</li>
            </ol>
        </div>

        <div class="px-3 py-3">
            <div class="row align-items-center mb-4">
                <div class="col-md-5">
                    <label class="col-form-label">I'm leaving because...</label>
                </div>
                <div class="col-md-7">
                    <select class="form-control">
                        <option value="">First Option</option>
                        <option value="">Second Option</option>
                    </select>
                </div>
            </div>

        </div>



        <div class="px-3 mb-2 text-end">
            <a  class="btn btn-outline-primary" type="button">Deactive Account</a>
        </div>

    </div>
</div>