  <!-- Modal Start -->

  <div class="modal-header ">
    
      <h5 class="modal-title">
        {{ compaignResponse.title }}
      </h5>
    
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="bg-white card-header d-flex py-3 align-items-center">
        <h4 class="mb-0 text-primary fw-bold">Terms</h4>
  
      </div>
      <div class="card-body px-0">
        <div class="px-3">
  
          <div class="row" *ngIf="compaignEditable.title">
            <div class="col-md-6">
              <input type="text"
                     class="form-control"
                     [(ngModel)]="compaign.title"
                     placeholder="Title" />
            </div>
            <div class="col-md-6">
              <a class="btn btn-primary" (click)="updateCompaignInfo('title')"
                 *ngIf="compaignEditable.title" type="button">Update</a>
              <a class="btn btn-outline-primary" (click)="cancelUpdate('title')"
                 *ngIf="compaignEditable.title" type="button">Cancel</a>
            </div>
          </div>
          <div class="row" *ngIf="!compaignEditable.title">
            <div class="d-flex justify-content-between align-items-center">
              <p class="fw-bold">Title of the Compaign</p>
              <div class="edit-des bg-light">
                <i class="fas fa-pencil-alt text-primary cursor-pointer"
                   (click)="editable('title')"></i>
              </div>
            </div>
            <p>{{ compaignResponse.title }}</p>
          </div>
          <div class="row" *ngIf="compaignEditable.desc">
            <div class="col-md-6">
              <textarea placeholder="Description..."
                        [(ngModel)]="compaign.description"
                        class="form-control"></textarea>
            </div>
            <div class="col-md-6">
              <a class="btn btn-primary" (click)="updateCompaignInfo('desc')"
                 *ngIf="compaignEditable.desc" type="button">Update</a>
              <a class="btn btn-outline-primary" (click)="cancelUpdate('desc')"
                 *ngIf="compaignEditable.desc" type="button">Cancel</a>
            </div>
          </div>
          <div class="row" *ngIf="!compaignEditable.desc">
            <div class="d-flex justify-content-between align-items-center">
              <p class="fw-bold">Description</p>
              <div class="edit-des bg-light">
                <i class="fas fa-pencil-alt text-primary cursor-pointer"
                   (click)="editable('desc')"></i>
              </div>
            </div>
            <p [(innerHtml)]="compaignResponse.description">
              {{ compaignResponse.description }}
            </p>
          </div>
        </div>
  
        <div class="border-y p-3" *ngIf="!compaignEditable.typeKeyword">
          <div class="d-flex justify-content-between align-items-center">
            <p class="fw-bold">What Compaigns You Have?</p>
            <div class="edit-des bg-light">
              <i class="fas fa-pencil-alt text-primary cursor-pointer"
                 (click)="editable('TypeKeyword')"></i>
            </div>
          </div>
          <ul class="list-unstyled seleted-option text-start mb-0" *ngIf="compaignResponse.type">
            <li *ngFor="let typeDesc of splitCompaignType(compaignResponse.type)">
              {{ typeDesc }}
            </li>
          </ul>
        </div>
  
        <div class="border-y p-3" *ngIf="compaignEditable.typeKeyword">
          <div class="input-group mb-3">
            <input [(ngModel)]="compaign.type" (ngModelChange)="searchText()" type="text" class="form-control rounded-start"
                   placeholder="Type campaign name" aria-describedby="basic-addon2" />
  
            <span (click)="addType(compaign.type,'')" class="
                    input-group-text
                    bg-secondary
                    text-white
                    cursor-pointer
                    px-4" id="basic-addon2">
              Add
            </span>
            <ul class="mdb-autocomplete-wrap" *ngIf="showSuggestion" style="max-height: 225px;max-width:fit-content;margin-top:37px">
              <li *ngFor="let p of keywordTags" (click)="addType(p.keywordName,'Already Exist')">{{p.keywordName}}</li>
            </ul>
          </div>
          <ul class="list-unstyled choose-option text-start" *ngIf="type.length>0">
            <input type="button" class="btn btn-outline-primary" value="Save" (click)="updateCompaignInfo('TypeKeyword')" />
            <input type="button" class="btn btn-primary"  value="Cancel" (click)="cancelUpdate('TypeKeyword')" />
            <li class="text-primary me-2">Popular:</li>
            <li *ngFor="let i of type">
              <span>
                <i class="fas fa-plus fa-sm me-1"></i>{{ i }}
                <i style="color:red" (click)="deletetype(i)" class="fa fa-times-circle"></i>
              </span>
            </li>
  
          </ul>
        </div>
        <div class="px-3">
          <div class="d-flex justify-content-between align-items-center">
            <p class="fw-bold">Your Sales Rates (Pay Per Performance)</p>
            <div class="edit-des bg-light">
              <i (click)="editable('Budget')"
                 class="fas fa-pencil-alt text-primary cursor-pointer"></i>
            </div>
          </div>
          <div class="row" *ngIf="compaignEditable.sale && compaignEditable.price && compaignEditable.payByText && compaignEditable.payPerText">
            <div class="col-md-6">
              <label>Pay By</label>
              <select class="form-control" [(ngModel)]="compaign.payByText" (change)="changePayByType()">
                <option value="Pay By the Sales">Pay By the Sales</option>
                <option value="Pay By the Fix Price">Pay By the Fix Price</option>
              </select>
            </div>
            <div class="col-md-6">
              <label>Pay Per</label>
              <select class="form-control" [(ngModel)]="compaign.payPerText">
                <ng-container *ngIf="compaign.payByText=='Pay By the Sales'">
                  <option value="Pay Per Transfer">Pay Per Transfer</option>
                  <option value="Pay Per Lead">Pay Per Lead</option>
                  <option value="Pay Per Sale">Pay Per Sale</option>
                  <option value="Others">Others</option>
                </ng-container>
                <ng-container *ngIf="compaign.payByText=='Pay By the Fix Price'">
                  <option value="Pay Per Hour">Pay Per Hour</option>
                  <option value="Pay Per Day">Pay Per Day</option>
                  <option value="Final Expense">Final Expense</option>
                  <option value="Others">Others</option>
                </ng-container>
              </select>
            </div>
            <div class="col-md-6" *ngIf="compaign.payByText=='Pay By the Sales'">
              <label>{{compaign.payPerText}} Sale</label>
              <input placeholder="Sale Price" (input)="onAmountChange($event.target.value, 'sale')"
                     class="form-control rounded"
                     [(ngModel)]="compaign.sale"
                     type="text" />
            </div>
            <div class="col-md-6">
              <label>{{compaign.payPerText}} Price</label>
              <input placeholder="Price" (input)="onAmountChange($event.target.value, 'price')"
                     class="form-control rounded"
                     [(ngModel)]="compaign.price"
                     type="text" />
            </div>
            <div class="col-md-6" style="margin-top:15px">
              <a class="btn btn-primary me-2" (click)="updateCompaignInfo('Budget')"
                 *ngIf="compaignEditable.price" type="button">Update</a>
              <a class="btn btn-outline-primary" (click)="cancelUpdate('Budget')"
                 *ngIf="compaignEditable.price" type="button">Cancel</a>
            </div>
          </div>
          <div class="row" *ngIf="!compaignEditable.sale && !compaignEditable.price && !compaignEditable.payByText && !compaignEditable.payPerText">
            <div class="col-md-6">
              <p class="fw-bold mb-1">Pay By</p>
              {{ compaignResponse.payByText }}
            </div>
            <div class="col-md-6">
              <p class="fw-bold mb-1">Pay Per</p>
              {{ compaignResponse.payPerText }}
            </div>
            <div *ngIf="compaignResponse.payByText == 'Pay By the Sales'" class="col-md-6">
              <p class="fw-bold mb-1">{{compaignResponse.payPerText}} Sales</p>
              <p>
                {{ compaignResponse.sale }}
              </p>
            </div>
            <div class="col-md-6">
              <p class="fw-bold mb-1">{{compaignResponse.payPerText}} Price</p>
              {{ compaignResponse.price }}
              <p *ngIf="compaignResponse.payByText == null">0.00</p>
            </div>
            <div class="col-md-6">
              <p class="fw-bold mb-1">Total Price of Compaign</p>
              <p *ngIf="compaignResponse.payByText == 'Pay By the Sales'">
                {{ compaignResponse.totalAmount }}
              </p>
              <p *ngIf="compaignResponse.payByText == null">0.00</p>
              <p *ngIf="compaignResponse.payByText == 'Pay By the Fix Price'">
                {{ compaignResponse.price }}
              </p>
            </div>
          </div>
        </div>
        <div class="px-3" style="margin-top:15px" *ngIf="compaign.payByText!='Pay By the Fix Price'">
          <div class="row" *ngIf="compaignEditable.compaignDuration">
            <div class="col-md-12">
              <select class="form-control" [(ngModel)]="compaign.compaignDuration">
                <option value="Less than 7 days">Less than 7 days</option>
                <option value="Less than 1 months">Less than 1 months</option>
                <option value="Less than 3 months">Less than 3 months</option>
                <option value="3 to 6 months">3 to 6 months</option>
              </select>
            </div>
            <div class="col-md-6" style="margin-top:15px">
              <a class="btn btn-primary me-2" (click)="updateCompaignInfo('compaignDuration')"
                 *ngIf="compaignEditable.compaignDuration" type="button">Update</a>
              <a class="btn btn-outline-primary" (click)="cancelUpdate('compaignDuration')"
                 *ngIf="compaignEditable.compaignDuration" type="button">Cancel</a>
            </div>
          </div>
          <div class="row" *ngIf="!compaignEditable.compaignDuration">
            <div class="col-md-12">
              <div class="d-flex justify-content-between align-items-center">
                <p class="fw-bold">
                  How Long do you expect this Compaign to last?
                </p>
                <div class="edit-des bg-light">
                  <i class="fas fa-pencil-alt text-primary cursor-pointer" (click)="editable('compaignDuration')"></i>
                </div>
              </div>
              {{ compaignResponse.compaignDuration }}
              <div class="border-y p-3" *ngIf="compaignResponse.compaignDuration == null">
                <p>xxx</p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <div class="modal-footer">
  
    <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">Close</button>
  </div>
  <!-- Modal End -->
  