<app-header></app-header>

<div class="inner-section">
    <div class="container">





        <div class="row mt-4 justify-content-center">

            <div class="col-lg-9 col-xl-8">
                <div class="card">
                    <div class="bg-white card-header d-md-flex py-3 align-items-center">
                        <div class="me-auto">
                            <p class="fw-bold mb-1">Angular and API Units, integration and end testing</p>
                            <p class="text-muted mb-0">Active since 2020</p>
                        </div>
                        <div class="client-pic me-3 mb-3 mb-md-0">
                            <img src="assest/images/profile-pic.png">
                            <i class="fas fa-circle text-secondary online"></i>
                        </div>
                        <div class="mb-3 mb-md-0">
                            <h3 class="text-primary fw-bold">Client Name</h3>
                            <div class="me-3 small">
                                <i class="fas fa-map-marker-alt text-primary me-1"></i>
                                Pakistan
                            </div>
                        </div>

                    </div>




                    <div class="card-body p-0">

                        <div class="border-y p-4 border-top-0 nav-campaign">
                          <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                      data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                      aria-selected="true">
                                Contract Section
                              </button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                      data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                                      aria-selected="false">
                                Time Duration
                              </button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                      data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
                                      aria-selected="false">
                                Messages and files
                              </button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="feedback-tab" data-bs-toggle="tab"
                                      data-bs-target="#feedback" type="button" role="tab" aria-controls="feedback"
                                      aria-selected="false">
                                Feedback
                              </button>
                            </li>
                          </ul>
                            <div class="tab-content py-3" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                    aria-labelledby="home-tab">
                                  <table class="table">
                                    <tr>
                                      <td>In Escrow</td>
                                      <td>Release</td>
                                      <td>Remaining</td>
                                      <td><b>Total Budget</b></td>
                                    </tr>
                                    <tr>
                                      <td>$50.00</td>
                                      <td>$20.00</td>
                                      <td>$30.00</td>
                                      <td><b>$50.00</b></td>
                                    </tr>
                                  </table>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    Massages & Files Detail
                                </div>
                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                    Terms & Settings Detail
                                </div>
                                <div class="tab-pane fade" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">
                                    Feedback Detail
                                </div>
                            </div>
                        </div>

                        <div class="p-4">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 fw-bold">Remaining Milestones</p>
                                <a   class="btn btn-outline-primary ms-auto btn-sm" type="button">Manage
                                    Campaign</a>
                            </div>

                        </div>




                        <div class="border-y p-4 border-top-0">
                            <div class="d-md-flex align-items-center justify-content-between mb-3">
                                <div>
                                    <h5 class="text-primary mb-1 fw-bold">What's next for you and John?</h5>
                                    <p class="mb-0">Best if there's a new Campaign you are ready to get started.</p>
                                </div>
                                <img src="assest/images/icons/contract.svg">
                            </div>
                            <p>Don't have any more work with john? <a  >End the Contract and leave feedback</a>
                            </p>

                        </div>

                        <div class="border-y p-4 border-top-0">


                            <h5 class="text-primary mb-1 fw-bold">Completed Milestones (1)</h5>
                            <p class="text-muted">Angular and API Units, integration and end testing</p>
                            <p class="mb-0">$50.00 (Paid)</p>
                            <p class="">Competed Mar 23</p>




                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
